body {
    background-color: #000;
    color: #fff;
}

/* main-banner */
.carousel-item {
    position: relative;
}

.main-img {
    border-radius: 4px;
}

.main-banner-text {
    position: absolute;
    bottom: 60px;
    left: 60px;
    width: 100%;
}

.main-text {
    font-size: 1.5rem;
    width: 31.667rem;
    padding: 0;
    margin: 0;
    font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    line-height: 1.5;
    font-weight: 550;
}

.main-text-wrapper {
    line-height: 1.5;
    margin-top: 1.33rem;
}

/* main-button */
.main-button-container {
    margin: -4rem -1.333rem -1.5rem;
    padding: 4rem 1.333rem 2.5rem;
    overflow: visible;
    display: flex;
}

@media (min-width: 768px) {
    .main-button-container {
        padding-left: 3.888rem;
        padding-right: 3.888rem;
        margin-left: -3.888rem;
        margin-right: -3.888rem;
    }

.main-btn,
.main-btn-1 {
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: #262626;
    cursor: pointer;
    padding: 10px 30px;
}

